<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">관리자 페이지</h2>

      <P>회원 관리</p>
        <ul>
            <% contacts.forEach(function(contact) { %> <!-- 3 -->
              <li>
                <label class="col-sm-1 col-form-label"><storng>아이디 : </storng></label><%= contact.username %>   <br/>
                <label class="col-sm-1 col-form-label"><storng>이  름 : </storng></label><%= contact.name %><br/>
                <label class="col-sm-1 col-form-label"><storng>학생증 :</storng> </label><small>📁 <a href="/files2/<%= contact.card.serverFileName %>/<%= contact.card.originalFileName %>"><%= contact.card.originalFileName %></a> (<%= util.bytesToSize(contact.card.size) %>)</small>                         
              </li>
            <% }) %>
          </ul>

    </div>
  </body>
</html>
